<p id="notice"><%= notice %></p>

<p>
  <strong>Id origin city:</strong>
  <%= @itinerary.origin_city_id %>
</p>

<p>
  <strong>Id destiny city:</strong>
  <%= @itinerary.destiny_city_id %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @itinerary.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @itinerary.arrival_time %>
</p>

<p>
  <strong>Id airplane:</strong>
  <%= @itinerary.airplane_id %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
