<div class="row">
  <h2>Flight status:</h2>
  <table>
  <thead>
    <tr>
      <th>Destiny</th>
      <th>Origin</th>
      <th>Airplane</th>
      <th>Departure Date</th>
      <th>Departure Estimated Time</th>
      <th>Arrival Date</th>
      <th>Arrival Estimated Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= City.find(@itineraries.destiny_city_id).name %></td>
      <td><%= City.find(@itineraries.origin_city_id).name %></td>
      <td><%= Airplane.find(@itineraries.airplane_id).model %></td>
      <td><%= @itineraries.departure_date %></td>
      <td><%= @itineraries.departure_time.to_s(:time) %></td>
      <td><%= @itineraries.arrival_date %></td>
      <td><%= @itineraries.arrival_time.to_s(:time) %></td>
    </tr>
  </tbody>
</table>
</div>

