<div class="row">
	
	<%= form_for(@seat_category) do |f| %>
		<% if @seat_category.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@seat_category.errors.count, "error") %> prohibited this seat_category from being saved:</h2>

				<ul>
				<% @seat_category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</div>
		<div class="actions">
			<%= f.submit 'Submit', :class => 'button' %>
		</div>
	<% end %>
</div>
