<h1>Listing seat_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seat_categories.each do |seat_category| %>
      <tr>
        <td><%= seat_category.name %></td>
        <td><%= seat_category. %></td>
        <td><%= link_to 'Show', seat_category %></td>
        <td><%= link_to 'Edit', edit_seat_category_path(seat_category) %></td>
        <td><%= link_to 'Destroy', seat_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat category', new_seat_category_path %>
