<div class="row">
	<%= form_for(@airplane) do |f| %>
		<% if @airplane.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@airplane.errors.count, "error") %> prohibited this airplane from being saved:</h2>
				<ul>
				<% @airplane.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		<div class="large-6 columns">
			<div class="field">
				<%= f.label :model %><br>
				<%= f.text_field :model %>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="field">
				<%= f.label :capacity %><br>
				<%= f.number_field :capacity %>
			</div>
		</div>
		<div class="large-2 columns">
			<div class="actions">
				<%= f.submit 'Submit', :class => 'button' %>
			</div>
		</div>
	<% end %>
</div>
