<div class="row">
	
	<h1>Hola</h1>
	<p>Flight type: </p><%= @flight_type %>
	<p>adults: </p><%= @adult_quantity %>
	<p>children: </p><%= @children_quantity %>
	<p>Ciudad de ida: </p><%= @city_ida %>
	<p>ciudad de regreso: </p><%= @city_regreso %>
	<p>fecha ida: </p><%= @fecha_ida %>
	<p>fecha regreso: </p><%= @fecha_regreso %>
	<p>Ciudad ida 1: </p><%= @city_ida_1 %>
	<p>Ciudad regreso 1: </p><%= @city_regreso_1 %>
	<p>Fecha regreso 1: </p><%= @fecha_regreso_1 %>
	<p>Ciudad ida 2: </p><%= @city_ida_1 %>
	<p>Ciudad regreso 2: </p><%= @city_regreso_1 %>
	<p>Fecha viaje 2:</p><%= @fecha_regreso_1 %>
	<p>Ciudad ida 3: </p><%= @city_ida_1 %>
	<p>Ciudad regreso 3: </p><%= @city_regreso_1 %>
	<p>Fecha viaje 3:</p><%= @fecha_regreso_1 %>
	<p>Ciudad ida 4: </p><%= @city_ida_1 %>
	<p>Ciudad regreso 4: </p><%= @city_regreso_1 %>
	<p>Fecha viaje 4:</p><%= @fecha_regreso_1 %>
</div>
