<div class="row">
   <h1>Search your fligth here:</h1>
</div>
<%= form_tag '/',:method => 'post',:html => { :class => "form_search"} do %>
<div class="row">
   <div class="large-4 columns">
      <label>Type:</label>
      <%= select_tag :flight_type, options_for_select([['One Way', 1], ['Round Trip', 2], ['Multiple Cities', 3]], 1) %>
   </div>
   <div class="large-4 columns">
      <label>Adults:</label>
      <%= select_tag :adult_quantity, options_for_select(
         [['0 Adults',0],['1 Adults',1],['2 Adults',2],['3 Adults',3],['4 Adults',4],['5 Adults',5],['6 Adults',6],['7 Adults',7],['8 Adults',8],['9 Adults',9],['10 Adults',10]])%>
   </div>
   <div class="large-4 columns">
      <label>Children:</label>
      <%= select_tag :children_quantity, options_for_select([['0 Children', 0], ['1 Children', 1], ['2 Children', 2], ['3 Children', 3], ['4 Children', 4], ['5 Children', 5]], 1) %>
   </div>
</div>
<div class="case_1">
   <div class="row">
      <div class="large-6 columns">
         <label>From:</label>
         <%= collection_select(:ida, '', @cities, :id, :name) %>
         <span class="origin_city"></span>
      </div>
      <div class="large-6 columns">
         <label>To:</label>
         <%= collection_select(:regreso, '', @cities, :id, :name) %>
         <span class="destination_city"></span>
      </div>
   </div>
   <div class="row">
      <div class="large-6 columns">
         <label>Departure date:</label>
         <%= date_field_tag(:datetime_ida, value = nil, options = {})%>
      </div>
      <div class="large-6 columns">
         <label>Returning date:</label>
         <%= date_field_tag(:datetime_regreso, value = nil, options = {})%>
      </div>
   </div>
</div>
<div class="case_3" style="display:none;">
   <div class="multi_1">
      <div class="row">
         <div class="large-4 columns">
            <label>From:</label>
            <%= collection_select(:ida_1,'', @cities, :id, :name) %>
         </div>
         <div class="large-4 columns">
            <label>To:</label>
            <%= collection_select(:regreso_1,'', @cities, :id, :name) %>
         </div>
         <div class="large-3 columns">
            <label>Date:</label>
            <%= date_field_tag(:multi_1_1, value = nil, options = {})%>
         </div>
         <div class="large-1 columns">
            <span class="success label">1</span>
         </div>
      </div>
      <div class="multi_2">
         <div class="row">
            <div class="large-4 columns">
               <label>From:</label>
               <%= collection_select(:ida_2,'', @cities, :id, :name) %>
            </div>
            <div class="large-4 columns">
               <label>To:</label>
               <%= collection_select(:regreso_2,'', @cities, :id, :name) %>
            </div>
            <div class="large-3 columns">
               <label>Date:</label>
               <%= date_field_tag(:multi_2_1, value = nil, options = {})%>
            </div>
            <div class="large-1 columns">
               <span class="success label">2</span>
            </div>
         </div>
      </div>
   </div>
   <div class="multi_3" style="display:none;">
      <div class="row">
         <div class="large-4 columns">
            <label>From:</label>
            <%= collection_select(:ida_3,'', @cities, :id, :name) %>
         </div>
         <div class="large-4 columns">
            <label>To:</label>
            <%= collection_select(:regreso_3,'', @cities, :id, :name) %>
         </div>
         <div class="large-3 columns">
            <label>Date:</label>
            <%= date_field_tag(:multi_3_1, value = nil, options = {})%>
         </div>
         <div class="large-1 columns">
            <span class="success label">3</span>
         </div>
      </div>
   </div>
   <div class="multi_4" style="display:none;">
      <div class="row">
         <div class="large-4 columns">
            <label>From:</label>
            <%= collection_select(:ida_4,'', @cities, :id, :name) %>
         </div>
         <div class="large-4 columns">
            <label>To:</label>
            <%= collection_select(:regreso_4,'', @cities, :id, :name) %>
         </div>
         <div class="large-3 columns">
            <label>Date:</label>
            <%= date_field_tag(:multi_4_1, value = nil, options = {})%>
         </div>
         <div class="large-1 columns">
            <span class="success label">4</span>
         </div>
      </div>
   </div>
</div>
<div class="more" style="display:none;">
   <div class="row">
      <div class="large-12 columns">
         <a class="button"><i class="fi-plus large"></i></a>
      </div>
   </div>
</div>
<div class="row">
   <div class="large-12 columns">
      <%= button_to 'Search', "", class: 'button search_flights' %>
   </div>
</div>
<%end%>