<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer_category.name %>
</p>

<p>
  <strong>:</strong>
  <%= @customer_category. %>
</p>

<%= link_to 'Edit', edit_customer_category_path(@customer_category) %> |
<%= link_to 'Back', customer_categories_path %>
